@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.m-page,
.m-page *,
a,
button {
  font-family: 'Montserrat', sans-serif !important;
}

a,
button {
  border: none;
  text-decoration: none;
  outline: none;
}

.m-page h1 {
  line-height: 1.3;
  font-size: 1rem;
  font-weight: 600;
}

.m-page h2 {
  font-size: 0.9rem;
  font-weight: 500;
}
.m-page img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.m-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1rem;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #03234f;
}
.m-nav__logo-wrapper {
  display: flex;
  align-items: center;
  height: 46px;
  width: 100px;
}
.m-nav__logo {
  height: 100%;
  width: 150px;
}
.m-nav__text {
  font-weight: 500;
  font-size: 14px;
  color: #1c379d;
}
.m-nav__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.m-nav__dropmenu {
  background: #03234f;
  left: 0;
  right: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.m-nav__item {
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid #27366d;
  color: white;
  font-size: 13px;
  font-weight: 600;
}
.m-nav__item--create {
  background: #48c6ab;
  text-transform: uppercase;
  text-align: center;
  border: none;
}
.m-nav__lang-img {
  margin-right: 1rem;
}
.m-nav__lang {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 50%;
  padding: 1rem;
  color: white;
  font-size: 13px;
  font-weight: 600;
}
.m-nav__item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.m-burger {
  width: 25px;
  height: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: ease-in-out 0.3s;
}
.m-burger__line {
  height: 2px;
  width: 100%;
  background: #ffffff;
  transition: ease-in-out 0.3s;
}
.m-burger__line {
  height: 2px;
  position: absolute;
  width: 100%;
  background: #ffffff;
  transition: ease-in-out 0.3s;
}

.m-burger__line--1 {
  top: 0;
}
.m-burger__line--2 {
  top: 50%;
}
.m-burger__line--3 {
  top: 100%;
}
.m-active .m-burger__line--1 {
  transform: translateY(7px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
  -moz-transform: translateY(7px) translateX(0) rotate(45deg);
}
.m-active .m-burger__line--2 {
  opacity: 0;
}
.m-active .m-burger__line--3 {
  transform: translateY(-7px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.m-info {
  padding: 80px 1.1rem 0;
  display: flex;
  flex-direction: column;
}
.m-info__title {
  padding: 0 1rem;
  color: #1c379d;
  text-align: center;
  margin-bottom: 2rem;
}
.m-info__image {
  height: 118px;
  background-image: url('images/file.svg');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
  margin-bottom: 2rem;
}
.m-info__subtitle {
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #1c379d;
  text-align: center;
  line-height: 1.3;
}

.m-section {
  padding: 24px 0;
  border-bottom: 2px solid rgba(214, 214, 223, 0.41);
}
.m-section__title {
  text-align: center;
  font-size: 14px;
  color: #71cd99;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.m-section__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m-section__wrapper--features {
  padding: 24px 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.m-section__wrapper--buttons {
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}
.m-section__wrapper--buttons-single {
  justify-content: flex-end;
}
.m-section__wrapper--buttons-column {
  flex-direction: column;
}
.m-section__image {
  flex: 1 1 55%;
  background-size: fill;
  background-repeat: no-repeat;
}
.m-section__list {
  flex: 1 1 50%;
  padding-left: 1.3rem;
  list-style-image: url('images/Path.svg');
}
.m-section__list--margin {
  margin-right: 1rem;
}

.m-section__image--start {
  height: 169px;
  background-image: url('images/unspecified-1.png');
}
.m-section__image--process {
  height: 136px;
  background-position: right;
  background-image: url('images/unspecified.png');
}
.m-section__image--auto {
  height: 121px;
  background-image: url('images/unspecified-2.png');
}
.m-section__image--crm {
  height: 185px;
  background-position: right;
  background-image: url('images/unspecified-3.png');
}
.m-section__image--trade {
  height: 178px;
  background-image: url('images/unspecified-4.png');
}
.m-section__image--crossplatform {
  height: 200px;
  background-position: right;
  background-image: url('images/unspecified-5.png');
}
.m-section__image--experts {
  height: 153px;
  background-image: url('images/unspecified-6.png');
}
.m-section__image--security {
  height: 140px;
  background-position: right;
  background-image: url('images/unspecified-7.png');
}
.m-section__image--strategy {
  height: 164px;
  background-image: url('images/unspecified-8.png');
}
.m-section__image--fundraising {
  height: 164px;
  background-position: right;
  background-image: url('/images/unspecified-9.png');
}
.m-section__image--referal {
  height: 180px;
  background-image: url('/images/unspecified-10.png');
}
.m-section__description {
  flex: 1 1 45%;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 500;
}
.m-section__description--left {
  padding-left: 24px;
}
.m-section__description--right {
  padding-right: 20px;
}
.m-section__feature {
  font-size: 10px;
  color: #4a4a4a;
  font-weight: 500;
  margin-bottom: 10px;
}
.m-section__feature:last-child {
  margin-bottom: 0;
}
.m-button {
  background-color: #47c6ab;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 14px;
  border-radius: 4px;
  transition: ease-in-out 0.2s;
}
.m-button--margin {
  margin-bottom: 1rem;
}
.m-button-drop {
  color: #47c6ab;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.2s;
}
.m-button-drop__name {
	display: none;
}
.m-button-drop__image {
  margin-left: 12px;
  width: 1rem;
  height: 1rem;
  transition: ease-in-out 0.2s;
}
.m-drop {
  padding: 0 40px;
  font-weight: 500;
  font-size: 10px;
  color: #4a4a4a;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.m-show {
  display: block;
}
.m-buttons-col {
  flex-direction: column;
  align-items: center;
}
.m-prev {
  margin-bottom: 1rem;
}
.m-rotate {
  transform: rotate(180deg);
}

.m-footer {
  background: #0c1a4f;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-footer__title {
  font-size: 14px;
  color: white;
  font-weight: 500;
  margin-bottom: 24px;
}
.m-footer__input {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 0;
  width: 100%;
  height: 42px;
  text-align: center;
  font-size: 16px;
  outline: none;
  font-weight: 500;
  margin-bottom: 1rem;
}

.m-footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.5px;
  font-family: 'Montserrat', sans-serif;
}

.m-footer__button {
  background: #48c6ab;
  border: 0;
  width: 100%;
  height: 42px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.m-footer__button:active {
  opacity: 0.9;
}
.m-footer__description {
  text-align: center;
  color: #a4afd9;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.m-footer__description-link {
  text-decoration: underline;
  color: inherit;
}
.m-footer__info {
  font-size: 24px;
  color: #99a2c3;
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.m-footer__link {
  font-size: 16px;
  color: #99a2c3;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.m-footer__link--margin {
  margin-bottom: 1.5rem;
}
.m-footer__phone {
  color: #a6b3e4;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2.3px;
  margin-bottom: 1.5rem;
}
.m-footer__phone:active {
  opacity: 0.9;
}
.m-footer__link-social {
  height: 35px;
  width: 35px;
  margin-right: 1rem;
}
.m-footer__social-img {
  height: 35px;
  width: 35px;
}

.m-footer__link-social:active {
  opacity: 0.9;
}
.m-play {
	margin: 0 2rem 1rem;
	cursor: pointer !important;
}